### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Customização para o seu projeto:

# Arquivos de IDE específicos do IntelliJ (para garantir)
.idea/
*.iml

# Ignorar a pasta 'modules' dentro de 'src'
# Isso garante que nenhum conteúdo dentro de src/modules seja rastreado
src/modules/